{{!< default}} <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js">
    </script>
    <header class="container-fluid header">
        <div class="mouse-scroll"></div>
        <div class="row">
            <div class="col">
                <div class="extra-lg-text">
                    <span>Experience</span><br>
                    <span>the Future of </span><br>
                    <span>App Development with</span><br>
                    <span id="element" class="other-color">work</span>
                </div>

                <!-- Setup and start animation! -->
                <script>
                    document.addEventListener("DOMContentLoaded", function (event) {
                        var typed = new Typed('#element', {
                            strings: ['No-Code!', 'Low-Code!', 'AI Tools!'],
                            typeSpeed: 50,
                            loop: true,
                        });
                    });

                </script>
            </div>
        </div>
    </header>
    <div class="container-fluid box-content">
        <div class="row">
            <div class="col-md-6">
                <div class="boxy c1-color">
                    <div class="row">
                        <div class="col">
                            <h1 class="title">Web App<br>
                                Development </h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-12 col-lg-5">
                            <div class="text">
                                <ul>
                                    <li>Angular </li>
                                    <li>React JS</li>
                                    <li>Vue JS</li>
                                    <li>Next JS</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-12 col-lg-7">
                            <div class="text">
                                <ul>
                                    <li>Strapi</li>
                                    <li>Express JS</li>
                                    <li>Nest JS</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="boxy img-box">
                    <div class="img"><img src="assets/theme/images/img1.png" alt=""></div>
                    <div class="bottom-text">
                        <div class="link">VIEW THIS PROJECT</div>
                        <div class="text">Hubble eye lenses branding</div>
                    </div>
                    <a href="project.html" class="project-link-full"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid box-content">
        <div class="row">
            <div class="col-md-6">
                <div class="boxy primary-color">
                    <div class="row">
                        <div class="col">
                            <h1 class="title">Mobile App<br>
                                Development</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-12 col-lg-5">
                            <div class="text">
                                <ul>
                                    <li>Android</li>
                                    <li>iOS</li>
                                    <li>Flutter</li>
                                    <li>React Native</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-12 col-lg-7">
                            <div class="text">
                                <ul>
                                    <li>API Integration</li>
                                    <li>Multilingual</li>
                                    <li>App Store</li>
                                    <li>Play Store</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="boxy img-box">
                    <div class="img"><img src="assets/theme/images/img2.png" alt=""></div>
                    <div class="bottom-text">
                        <div class="link">VIEW THIS PROJECT</div>
                        <div class="text">UIUX Design for travel agency</div>
                    </div>
                    <a href="project.html" class="project-link-full"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid box-content">
        <div class="row">
            <div class="col-md-6">
                <div class="boxy default-color">
                    <div class="row">
                        <div class="col">
                            <h1 class="title">Cloud</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="text">
                                <ul>
                                    <li>AWS</li>
                                    <li>Digital Ocean</li>
                                    <li>IBM</li>
                                    <li>GCP</li>
                                </ul>
                            </div>
                        </div>
                         <div class="col-6">
                            <div class="text">
                                <ul>
                                    <li>Azure</li>
                                    <li>Monitoring and Logging</li>
                                    <li>Containers</li>
                                    <li>Microservices</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="boxy img-box">
                    <div class="img"><img src="assets/theme/images/img3.png" alt=""></div>
                    <div class="bottom-text">
                        <div class="link">VIEW THIS PROJECT</div>
                        <div class="text">CoinView App development</div>
                    </div>
                    <a href="project.html" class="project-link-full"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid box-content">
        <div class="row">
            <div class="col-md-6">
                <div class="boxy c2-color">
                    <div class="row">
                        <div class="col">
                            <h1 class="title">UI/UX Design</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-12 col-lg-5">
                            <div class="text">
                                <ul>
                                    <li>Figma</li>
                                    <li>Material</li>
                                    <li>Design to Code</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-12 col-lg-7">
                            <div class="text">
                                <ul>
                                   <li>Sketch</li>
                                    <li>Canva</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="boxy img-box">
                    <div class="img"><img src="assets/theme/images/img4.png" alt=""></div>
                    <div class="bottom-text">
                        <div class="link">VIEW THIS PROJECT</div>
                        <div class="text">Hubble package design</div>
                    </div>
                    <a href="project.html" class="project-link-full"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid default-content">
        <div class="row">
            <div class="col">
                <div class="lg-text">
                    <span>Embark on a </span><br>
                    <span>Decade of Digital </span><br>
                   <span class="other-color">Brilliance with Us!</span>
                </div>
                <div class="normal-text">
                    <p>We're your go-to team for turning visions into reality. With over 10 years of expertise in app development, <br>we make the complex simple, crafting digital solutions that propel your goals forward. Empower your vision, build your future with us!</p>
                </div>
                <div class="btn-holder">
                    <a href="/about-us" class="cr-btn primary">more about us</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid clients-section">
        <div class="row">
            <div class="col">
                <div class="lg-text">
                    <span>Fostering enduring</span><br>
                    <span>partnerships with Dependable</span><br>
                    <span>and reliable Deliveries.</span>
                </div>
                <div class="normal-text">
                    <p>We believe in cultivating strong, lasting partnerships with our valued clients. Our commitment<br>
                    to delivering dependability and security is the foundation upon which we build these enduring connections.</p>
                </div>
                <div class="clients-logos">
                    <div class="logo-holder"><img src="assets/theme/images/client1.png" alt=""></div>
                    <div class="logo-holder"><img src="assets/theme/images/client2.png" alt=""></div>
                    <div class="logo-holder"><img src="assets/theme/images/client3.png" alt=""></div>
                    <div class="logo-holder"><img src="assets/theme/images/client4.png" alt=""></div>
                    <div class="logo-holder"><img src="assets/theme/images/client5.png" alt=""></div>
                    <div class="logo-holder"><img src="assets/theme/images/client6.png" alt=""></div>
                    <div class="logo-holder"><img src="assets/theme/images/client7.png" alt=""></div>
                    <div class="logo-holder"><img src="assets/theme/images/client8.png" alt=""></div>
                </div>
            </div>
        </div>
    </div>